:root {
    --primario: #2ecc71;
    --gasto: #e74c3c;
    --oscuro: #1a1a1a;
    --fondo: #f4f7f6;
}

* { box-sizing: border-box; }

body {
    margin: 0;
    background: var(--fondo);
    font-family: 'Segoe UI', Roboto, sans-serif;
    display: flex;
    justify-content: center;
}

.app-container {
    width: 100%;
    max-width: 600px; /* Tamaño ideal para PC y se encoge en móvil */
    padding: 20px;
    min-height: 100vh;
}

.header-top { display: flex; justify-content: space-between; align-items: center; }

#btn-logout { background: transparent; border: 1px solid #ccc; border-radius: 5px; cursor: pointer; }

.main-header { text-align: center; padding: 20px 0; }
#balance-total { font-size: clamp(2rem, 8vw, 3.5rem); margin: 10px 0; }

.chart-card {
    background: white;
    padding: 20px;
    border-radius: 24px;
    margin-bottom: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    height: 250px;
}

.input-card {
    background: white;
    padding: 24px;
    border-radius: 24px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row { display: flex; gap: 10px; }
input, select {
    width: 100%;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 12px;
    font-size: 16px; /* Evita zoom automático en iPhone */
    outline: none;
    background: #f9f9f9;
}

.btn-principal {
    background: var(--oscuro);
    color: white;
    border: none;
    padding: 16px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

.btn-principal:active { transform: scale(0.98); }

.item {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 16px;
    margin-top: 10px;
    border-radius: 16px;
}

.monto-gasto { color: var(--gasto); font-weight: bold; }
.monto-ingreso { color: var(--primario); font-weight: bold; }

/* Media Query para pantallas grandes */
@media (min-width: 768px) {
    .app-container { padding: 40px; }
}